# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/
